# This is a basic workflow that is manually triggered

name: Get Latest Templates

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  run-script:
    name: Get Latest Template
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: Zabbix
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
     - name: Checkout
       uses: actions/checkout@v5
       with:
         branch: main
     - name: Run Script
       shell: pwsh
       run: '&Scripts/Export-ZabbixTemplates.ps1'
       env:
         ZBX_APIKEY: ${{ secrets.ZBX_APIKEY }}
         ZBX_INSTANCE: ${{ vars.ZBX_INSTANCE }}
     - name: Commit
       run: 'git commit -m "Downloaded from workflow."'
     - name: Push
       run: 'git push'

